$primary: #5ab3cb;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.report-input {
    max-width: 800px;
}

html,
body,
#root {
    height: 100%;
}

.frame {
    height: 100%;
    width: 100%;
}